@using (Html.BeginForm("ara", "Home", FormMethod.Post))
{
    <div class="search-wrap active">
        <div class="search-input">
            <form action="#">
                <div class="input-group">
                    <input id="ara" type="text" class="form-control" name="ara" placeholder="Ara">
                    <span class="input-group-addon"><button value="ara" type="submit"><i class="fa fa-search"></i></button></span>
                </div>
            </form>
        </div>
    </div>
}

