
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="background-color:#1ABC9C" class="container">
    <h2 style="text-align:center;color:#FFFFFF;border-collapse:collapse">Hakkimizda</h2>
</div>


